<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.damao.mapper.CommentMapper">
    <select id="queryByEntity" resultType="com.damao.Comment">
        <if test="cursor != null">
            SELECT *
            from video_platform.comment
            where entity_id = #{entityId}
            and create_time > (select create_time from comment where uid = #{cursor})
            and is_del = 0
            ORDER BY create_time
            LIMIT 10;
        </if>
        <if test="cursor == null">
            SELECT *
            from video_platform.comment
            where entity_id = #{entityId}
            and is_del = 0
            ORDER BY create_time
            LIMIT 10;
        </if>
    </select>
</mapper>
